<div class="article-form__wrapper">
    <form [formGroup]="articleForm" (submit)="submitForm()" class="article-form">
        <div>
            <label>Heading:</label>
            <input type="text" [formControl]="articleHeading">
        </div>
        <div>
            <label>Short description:</label>
            <input type="text" [formControl]="articleShortDescription">
        </div>
        <div>
            <label>Content:</label>
            <input type="text" [formControl]="articleContent">
        </div>
        <div>
            <label>Image URL:</label>
            <input type="text" [formControl]="imageUrl">
        </div>
        <div>
            <label>Author:</label>
            <input type="text" [formControl]="author">
        </div>
        <div>
            <label>Source:</label>
            <input type="text" [formControl]="source">
        </div>
        <div>
            <label>Source link:</label>
            <input type="text" [formControl]="articleUrl">
        </div>
        <div>
            <button routerLink="/results">Close</button>
            <button type="submit">Submit</button>
        </div>
    </form>
</div> 